@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  // background: #070707;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/gradient-md.png");

  @media (min-width: 768px) {
    background-image: url("/images/gradient-lg.png");
  }
}
